{% extends "base.html" %}

{% block content %}
{% load tailwind_filters %}

<div class="container py-20 px-10 mx-auto">
    <div class="max-w-2xl mx-auto bg-gray-200 p-7">
        <h1 class="pb-4 font-sans-serif text-3xl tracking-wider">Edit Book</h1>
        <form action="" method="POST">
            <div class="FormHelper">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
            <button type="submit" value="submit" class="mt-4 bg-green-400 font-sans py-2 px-8">Update</button>
        </form>
    </div>
</div>

{% endblock content %}